/* Main container styling */
main {
    width: 90%;
    margin: 50px auto;
    text-align: center;
    background-color: #29292c; /* Dark background for main */
    padding:20px;
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.1); /* Lighter shadow */
    border-radius: 25px;
    color: #ffffff; /* Light text */
}

/* Body styling */
body {
    background-color: #1c1c1e; /* Darker background for body */
    font-family: 'Arial', sans-serif;
    color: #cccccc; /* Lighter text color */
}

/* Input fields and buttons */
label {
    font-size: 1.1em;
    font-weight: bold;
    margin-right: 10px;
    color: #ffffff; /* Ensure labels are readable */
}

input[type="text"], input[placeholder] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #555; /* Darker border */
    background-color: #333; /* Darker background */
    color: #ffffff; /* Light text */
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s;
    
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff; /* Light text */
}

input[type="text"]:focus, input[placeholder]:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s;
    font-size: 1em;
}

button:hover {
    background-color: #0056b3;
}

/* Table styling */
table {
    width: 100%;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Lighter shadow for dark theme */
}

th, td {
    border: 1px solid #555; /* Darker border */
    padding: 10px;
    text-align: left;
    font-size: 1em;
    color: #ffffff; /* Light text */
    border-radius: 10px;
}

th {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

td {
    background-color: #333; /* Darker background for cells */
}

tbody tr:nth-child(even) {
    background-color: #414173; /* Even darker for alternate rows */
}

tbody tr:hover {
    background-color: #3c3c3e; /* Hover effect */
}

/* Table headings */
thead th {
    background-color: #007bff;
    color: white;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        width: 90%;
    }

    input[type="text"], input[placeholder] {
        width: calc(100% - 40px);
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    table {
        width: 100%;
    }
}